pid_file = "/opt/hashicorp/vault/vault.pid"

storage "consul" {
  address         = "{{ ansible_fqdn }}:8500"
  path            = "vault/"
  service         = "vault"
  #scheme          = "http"
  # token           = "94c507b4-6be8-9132-ea15-3fc5b196ea29"
  scheme          = "https"
  tls_skip_verify = 0
  tls_key_file    = "/opt/hashicorp/vault/certs/cert.key"
  tls_cert_file   = "/opt/hashicorp/vault/certs/cert.crt"
  tls_ca_file     = "/opt/hashicorp/vault/certs/ca.crt"
  cluster_addr  = "https://{{ ansible_default_ipv4.address }}:8201"
  redirect_addr = "https://{{ ansible_default_ipv4.address }}:8201"
}

listener "tcp" {
  address         = "{{ ansible_fqdn }}:8200"
  cluster_address = "0.0.0.0:8201"
  tls_disable     = false
  tls_key_file    = "/opt/hashicorp/vault/certs/cert.key"
  tls_cert_file   = "/opt/hashicorp/vault/certs/cert.crt"
}
