[Unit]
Description=nexus service
After=network.target init-node.service

[Service]
Type=simple
LimitNOFILE=65536
ExecStart={{ nexus_dir }}/{{ nexus_version }}/bin/nexus run
ExecStop={{ nexus_dir }}/{{ nexus_version }}/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target
